footer#footer.footer
    .footer-logo-section
        .footer-logo-box
            a.logo(href='/')
                img.logo-img(srcset='/assets/images/kellex-logo-xs.png 25w,\
                /assets/images/kellex-logo-sm.png 40w', sizes='(max-width: 568px) 25px, 40px', src='/assets/images/kellex-logo-sm.png', alt='kellex logo')
                .logo-box.light
                    p.big Kellex schools
                    p.small Nursery. primary. high school
        p.footer-text.mt-1
            | kellex Schools comprise of kellex Children School and kellex High School. The schools were established in 2023, by the dr Osa to provide complete and quality educatio.
    .footer-quicklinks
        h5.footer-title.mb-2 quicklinks
        .footer-links
            a.footer-link.link(href='/about/message-from-the-admin') message from the administrator
            a.footer-link.link(href='/about/school-policy') school policy
            a.footer-link.link(href='/about/who-we-are') who we are
            a.footer-link.link(href='/admission') admission
            a.footer-link.link(href='/gallery') gallery
            a.footer-link.link(href='/news') news
    .footer-academics
        h5.footer-title.mb-2 academics
        .footer-links
            a.footer-link.link(href='/academics/nursery-primary') nursery primary
            a.footer-link.link(href='/academics/high-school') high school
            a.footer-link.link(href='portal.kellexschools.com') student poral
            a.footer-link.link(href='portal.kellexschools.com') parent poral
            a.footer-link.link(href='/online-testing') online testing
    .footer-contacts
        h5.footer-title.mb-2 Get in touch
        .contact-box
            p.text Ogba Rd, Benin City 300102, Edo
            p.text +234 8127778301
            p.text admission@kellexschools.com