
    iframe.pdf-viewer(src='', frameborder='0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js')
    svg.icons
      use(xlink:href='/symbol-defs.svg')
    script(defer='', src='svgxuse.js')
    script(src='app.js')